#API environment variables
API_PORT=3001
NODE_ENVIRONMENT=development
#APP environment variables
REACT_APP_PORT=3000

#bcoin node environment variables
BCOIN_API_KEY=secretpw
BCOIN_NETWORK=testnet
BCOIN_HOST=bcoin_node
RESCAN=true
BITCOIN_WALLET=primary
