#API environment variables
API_PORT=3001

#APP environment variables
REACT_APP_PORT=3000

#bcoin node environment variables
BCOIN_API_KEY=secretpw
BCOIN_NETWORK=regtest
BCOIN_HOST=bcoin_node #name is set in docker-compose file
RESCAN=true
BITCOIN_WALLET=primary